/* 폰트적용 */
* {
  font-family: "Noto Sans KR", sans-serif;
}

/* 공통 영역 */
.inner {
  max-width: 1200px;
  margin: 0 auto;
}

.divider {
  border-bottom: 1px solid #e8e8e8;
}

.c-box {
  border: 1px solid rgba(0, 0, 0, 0); /* 테두리 설정 (투명도 조절) */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* 그림자 설정 (투명도 조절) */
}
