@charset "utf-8";

/* 웹폰트 구글 CDN(Content Delivery Network) */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Bagel+Fat+One&family=Diphylleia&family=Orbit&display=swap");

/* Common CSS */
@import url(./common_yjhong.css);

/* Rest CSS */
@import url(./reset_yjhong.css);

/* 12그리드 불러오기 */
@import url(./grid_12_flex_yjhong.css);

/* 공사중표시 */
body * {
  /* outline: 1px dotted plum; */
}

/******************* 상단영역 *******************/
.lnb {
  display: flex;
  justify-content: flex-end;
  line-height: 32px;
}

.lnb a {
  font-size: 13px;
  margin-left: 20px;
}

.main {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.logo img {
  height: 45px;
  vertical-align: middle;
}

.search .search-input {
  width: 220px;
  height: 24px;
  border-radius: 8px;
  background-image: url("../images/search.png");
  background-size: 21px;
  background-position: 5px center; /* 이미지를 왼쪽에서 10px 위치로 정렬 */
  background-repeat: no-repeat; /* 이미지 반복 없음 */
  padding-left: 30px; /* 이미지와 텍스트 사이의 여백 설정 */
}

.auth {
  display: flex;
  justify-content: end;
}

.auth button {
  font-size: 13px;
  margin-left: 5px;
}

.gnb {
  display: flex;
  justify-content: start;
  margin: 55px 0 15px 0;
}

.gnb li {
  font-size: 18px;
  margin-right: 50px;
}

.gnb li:hover {
  color: red;
}

.gnb li:last-child {
  margin-right: 0px !important;
}

.gnb li:nth-child(4) {
  margin-right: auto;
}

/******************* 메인영역 *******************/

/* 배너 이미지 */
.banner {
  background: url(../images/banner_1.jpg) no-repeat center/cover;
  height: 145px;
  border: 1px solid #a7a7a7;
}

/* 공간을 균등하게 분할하여 각 이미지의 양 옆에 공간을 생성합니다. */
/* .banner .spacer {
  flex-grow: 1;
} */

/* 공지사항 타이틀 */
.notice .notice-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 6px 0;
}

.notice .notice-title span:nth-child(1) {
  font-size: 14px;
  padding: 0 8px;
  font-weight: bold;
}
.notice .notice-title span:nth-child(2) {
  font-size: 11px;
  padding: 0 8px;
}

.notice .notice-content {
  font-size: 14px;
  padding: 8px 8px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

/* 최신글, 인기글 영역 */
.new-title,
.pop-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border-bottom: 1px solid #e3cfee; */
  line-height: 40px;
  padding-bottom: 2px;
}

.new-title span,
.pop-title span {
  font-size: 13px;
}

.new-content .new-category,
.pop-content .pop-category {
  display: flex;
  text-align: center;
  border-bottom: 1px solid #0000000b;
  text-overflow: ellipsis;
  padding: 6px 0;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  /* white-space: nowrap; */
}

.new-content .new-category span:nth-child(1),
.pop-content .pop-category span:nth-child(1) {
  flex: 2;
}

.new-content .new-category span:nth-child(2),
.pop-content .pop-category span:nth-child(2) {
  flex: 3;
}

.new-content .new-category span:nth-child(3),
.pop-content .pop-category span:nth-child(3) {
  flex: 7;
}

/* 상품 목록 */

/* 상품 */
.products {
  display: flex;
  justify-content: space-between;
}

.product {
  border: 1px solid #000;
}

/* 상품 이미지 */
.product img {
  height: 180px;
}

/* 상품 정보 */

/* 상품 제목 */

/* 상품 가격 */

/* 전체보기 버튼 */

/****************** 하단영역 *******************/
