@charset "utf-8";

/* Rest CSS */
@import url(./reset_yjhong.css);

/* 12 Grid CSS */
@import url(./grid_12_flex_yjhong.css);

/* Common CSS */
@import url(./common_yjhong.css);

/* 공사중표시 */
body * {
  /* outline: 1px dashed plum; */
}

/******************* 상단영역 *******************/

.lnb {
  display: flex;
  justify-content: flex-end;
  line-height: 32px;
}

.lnb a {
  font-size: 13px;
  margin-left: 20px;
}

.main {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.logo img {
  height: 46px;
  vertical-align: middle;
}

.search .search-input {
  width: 100%;
  height: 34px;
  border-radius: 8px;
  background-image: url("../images/search.png");
  background-size: 21px;
  background-position: 7px center; /* 이미지를 왼쪽에서 10px 위치로 정렬 */
  background-repeat: no-repeat; /* 이미지 반복 없음 */
  padding-left: 35px; /* 이미지와 텍스트 사이의 여백 설정 */
  font-size: 16px;
}

.auth {
  display: flex;
  justify-content: end;
}

.auth button {
  font-size: 13px;
  margin-left: 5px;
}

.top-menu {
  display: flex;
  justify-content: start;
  margin: 60px 0 15px 0;
}

.top-menu li {
  font-size: 19px;
  margin-right: 50px;
}

.top-menu li:hover {
  cursor: pointer;
}

.top-menu li:last-child {
  margin-right: 0px !important;
}

.top-menu li:nth-child(4) {
  margin-right: auto;
}

/******************* 메인영역 *******************/

/* 배너 이미지 */
.banner {
  background: url(../images/banner_1.jpg) no-repeat center/cover;
  border: 1px solid #a7a7a7;
  height: 150px;
}

/* 공지사항 타이틀 */
.notice .notice-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 6px 0;
}

/* Additional CSS styles can be added here */
.swiper-container {
  width: 100%;
  height: 500px;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.swiper-slide img {
  max-width: 100%;
}

.notice .notice-title h4 {
  padding: 0 8px;
}
.notice .notice-title span {
  font-size: 12px;
  text-decoration: underline;
  padding: 0 8px;
}

.notice .notice-content {
  font-size: 14px;
  padding: 8px 8px;
}
.notice .notice-content:nth-child(n):not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

/* 최신글, 인기글 영역 */
.cont-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border-bottom: 1px solid #e3cfee; */
  line-height: 40px;
  padding-bottom: 10px;
}

.cont-title span {
  font-size: 14px;
  text-decoration: underline;
}

.new-content .new-category,
.pop-content .pop-category {
  display: flex;
  text-align: center;
  text-overflow: ellipsis;
  padding: 6px 0;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  /* white-space: nowrap; */
}

.new-content .new-category:nth-child(n):not(:last-child),
.pop-content .pop-category:nth-child(n):not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.new-content .new-category span:nth-child(1),
.pop-content .pop-category span:nth-child(1) {
  flex: 2;
}

.new-content .new-category span:nth-child(2),
.pop-content .pop-category span:nth-child(2) {
  flex: 3;
}

.new-content .new-category span:nth-child(3),
.pop-content .pop-category span:nth-child(3) {
  flex: 7;
}

/* 상품 목록 */

/* 최근 중고거래 상품 다중박스 */
.products {
  display: flex;
  justify-content: space-between;
}

/* 최근 중고거래 상품 단일박스 */
.product {
  border: 1px solid #e7e7e7;
}

/* 최근 중고거래 상품 이미지 */
.product img {
  height: 200px;
}

/* 최근 중고거래 상품 텍스트 전체 */
.product h3,
.product p {
  padding-left: 6px;
}

.product .pay {
  padding: 5px 0 10px 6px;
  border-bottom: 1px solid #e7e7e7;
}

.product .location {
  display: flex;
  align-items: center;
}

.product .location i {
  padding: 0 2px 0 8px;
  font-size: 18px;
}

.product .location p {
  padding: 5px 0 5px 6px;
}

.mentos {
  display: flex;
  justify-content: space-between;
  gap: 40px !important;
}

.mento-title {
  text-align: center;
  line-height: 50px;
  /* background: linear-gradient(to top, #facfff, #9fb9cf); */
  filter: brightness(110%);
  background-color: rgba(204, 165, 255, 0.464);
  background: linear-gradient(to bottom, #41b8eb4d, rgba(243, 184, 236, 0.628));
}

.mento-cont {
  display: flex;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #efefef;
}

.mento-cont span {
  font-size: 25px;
}

.mento-cont img:nth-child(1) {
  max-height: 32px;
  margin-right: 12px;
}

.mento-cont img:nth-child(3) {
  max-height: 70px;
  margin-left: auto;
}

.teacher table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.teacher th,
.teacher td {
  border: 1px solid #ddd;
  padding: 8px;
}

.teacher td {
  font-size: 15px;
}

.teacher td:nth-child(2) {
  text-align: left;
}

/****************** 하단영역 *******************/

.footer-info {
  margin-top: 20px;
  font-size: 14px;
}

.footer-copyright {
  padding-top: 12px;
  font-size: 14px;
  font-weight: bold;
}
.footer-social i {
  padding: 30px 5px 0 0;
  font-size: 32px;
}
