@charset "utf-8";

/* Rest CSS */
@import url(./reset_yjhong.css);

/* Core CSS */
@import url(./core_yjhong.css);

/* 12 Grid CSS */
@import url(./grid_12_flex_yjhong.css);

/* Common CSS */
@import url(./common_yjhong.css);

/* 공사중표시 */
body * {
  /* outline: 1px dashed plum; */
}

/******************* 상단영역 *******************/
/* header {
  position: fixed;
  width: 100%;
  z-index: 10000;
} */

.lnb {
  display: flex;
  justify-content: flex-end;
  line-height: 32px;
}

.lnb a {
  font-size: 13px;
  margin-left: 20px;
}

.logo img {
  height: 45px;
  vertical-align: middle;
}

.search .search-input {
  width: 100%;
  height: 35px;
  border-radius: 8px;
  border: 1px solid black;
  background-image: url("../images/search.png");
  background-size: 25px;
  background-position: 7px center;
  background-repeat: no-repeat;
  padding-left: 35px;
  font-size: 15px;
}

.auth {
  display: flex;
  justify-content: end;
}

.auth button {
  font-size: 13px;
  margin-left: 5px;
}

/******************* 메인영역 *******************/

/* 배너 이미지 */
/* .banner {
  background: url(../images/banner_1.jpg) no-repeat center/cover;
  border: 1px solid #a7a7a7;
  height: 150px;
} */

.bn-area {
  background: #f3f8ff;
}

.banner {
  height: 150px;
  overflow: hidden;
  position: relative;
}

.banner img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.banner img.active {
  opacity: 1;
}

.banner i {
  color: #fff;
  font-weight: bold;
  font-size: 17px !important;
}

.banner .prev,
.banner .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  font-size: 20px;
  cursor: pointer;
  background-color: rgba(8, 8, 8, 0.342); /* 투명도 추가 */
  padding: 10px; /* 화살표 내부 여백 추가 */
  height: 100%; /* 전체 높이에 맞게 설정 */
  display: flex; /* 화살표를 수직 중앙 정렬하기 위해 flex 사용 */
  align-items: center; /* 수직 중앙 정렬 */
}

.banner .prev {
  left: 0; /* 왼쪽에 정렬 */
}

.banner .next {
  right: 0; /* 오른쪽에 정렬 */
}

/* 공지사항 영역 */
.notice {
  background-color: white;
}

/* 공지사항 타이틀 */
.notice .notice-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 6px 0;
}

.notice .notice-title h4 {
  padding: 0 8px;
}

.notice .notice-title span {
  font-size: 12px;
  text-decoration: underline;
  padding: 0 8px;
}

.notice .notice-content {
  font-size: 14px;
  padding: 8px 8px;
}

.notice .notice-content:nth-child(n):not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

/* 최신글, 인기글 영역 */
.cont-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border-bottom: 1px solid #e3cfee; */
  line-height: 40px;
  padding-bottom: 10px;
}

.cont-title span {
  font-size: 14px;
  text-decoration: underline;
}

.new-content .new-category,
.pop-content .pop-category {
  display: flex;
  text-align: center;
  text-overflow: ellipsis;
  padding: 6px 0;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  /* white-space: nowrap; */
}

.new-content .new-category:nth-child(n):not(:last-child),
.pop-content .pop-category:nth-child(n):not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.new-content .new-category span:nth-child(1),
.pop-content .pop-category span:nth-child(1) {
  flex: 2;
}

.new-content .new-category span:nth-child(2),
.pop-content .pop-category span:nth-child(2) {
  flex: 3;
}

.new-content .new-category span:nth-child(3),
.pop-content .pop-category span:nth-child(3) {
  flex: 7;
}

/* 상품 목록 */

/* 최근 중고거래 상품 다중박스 */
.products {
  display: flex;
  justify-content: space-between;
}

/* 최근 중고거래 상품 단일박스 */
.product {
  border: 1px solid #e7e7e7;
}

/* 최근 중고거래 상품 이미지 */
.product img {
  width: 100%;
  height: auto;
  max-width: 200px;
  max-height: 200px;
}

/* 최근 중고거래 상품 텍스트 전체 */
.product h3,
.product p {
  padding-left: 6px;
}

.product .pay {
  padding: 5px 0 10px 6px;
  border-bottom: 1px solid #e7e7e7;
}

.product .location {
  display: flex;
  align-items: center;
}

.product .location i {
  padding: 0 2px 0 8px;
  font-size: 18px;
}

.product .location p {
  padding: 5px 0 5px 6px;
}

.mentos {
  display: flex;
  justify-content: space-between;
  gap: 40px !important;
}

.mento-title {
  text-align: center;
  line-height: 50px;
  /* background: linear-gradient(to top, #facfff, #9fb9cf); */
  filter: brightness(110%);
  background-color: rgba(204, 165, 255, 0.464);
  background: linear-gradient(to bottom, #41b8eb4d, rgba(243, 184, 236, 0.628));
}

.mento-cont {
  display: flex;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #efefef;
}

.mento-cont span {
  font-size: 25px;
}

.mento-cont img:nth-child(1) {
  max-height: 32px;
  margin-right: 12px;
}

.mento-cont img:nth-child(3) {
  max-height: 70px;
  margin-left: auto;
}

.teacher table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.teacher th,
.teacher td {
  border: 1px solid #ddd;
  padding: 8px;
}

.teacher td {
  font-size: 15px;
}

.teacher td:nth-child(2) {
  text-align: left;
}

/****************** 하단영역 *******************/

.footer-info {
  margin-top: 20px;
  font-size: 14px;
}

.footer-copyright {
  padding-top: 12px;
  font-size: 14px;
  font-weight: bold;
}

.footer-social i {
  padding: 30px 5px 0 0;
  font-size: 32px;
}

/******* 테스트 코드 영역 ********/

/* gnb 상위메뉴 */
.gnb ul {
  display: flex;
  white-space: nowrap;
}

/* gnb 상위메뉴 마지막 li */
.gnb ul li:last-child {
  margin-left: auto;
}

/* gnb 상위메뉴요소 */
.gnb ul li a {
  color: black;
}

/* gnb 상위메뉴요소 hover 시*/
.gnb ul li a:hover {
  color: rgb(16, 16, 255);
}

/* gnb 상위메뉴 요소의 a만 선택 (하위요소 a 미선택) */
.gnb > ul > li > a {
  padding: 20px 70px;
  font-size: 18px;
}

/* gnb 상위메뉴 요소의 첫번째 a */
.gnb > ul > li > a:first-child {
  padding-left: 0px;
}

/* gnb 상위메뉴 요소의 마지막 a */
.gnb > ul > li > a:last-child {
  padding-right: 0px;
}

/* gnb 상위,하위 a요소 */
.gnb a {
  display: block;
}

/* 상위메뉴만 적용하기 
직계자식(>)선택으로 상위메뉴만 선택함 */
.gnb ul > li {
  position: relative;
}

/* gnb 하위메뉴 */
.smenu {
  position: absolute;
  left: 50%;
  transform: translateX(-80%);
  width: 120px;
  background-color: white;
  line-height: 30px;
  max-height: 0;
  transition: max-height 0.3s;
  overflow: hidden;
  z-index: 1000;
}

/* 상위li오버시 서브메뉴 보이기 */
.gnb ul > li:hover .smenu {
  max-height: 210px;
  box-shadow: 0 0 5px rgb(224, 224, 224);
}

/* 하위메뉴 리스트들 */
.smenu ol {
  text-align: center;
}

/* 하위메뉴 li 요소 */
.smenu ol li {
  opacity: 0;
  transition: all 0.4s;
}

/* 하위메뉴 a 요소 */
.smenu ol li a {
  padding: 6%;
  font-size: 14.5px;
  color: rgb(63, 63, 63);
}

/* 하위메뉴 오버시 */
.gnb ul > li:hover .smenu li {
  opacity: 1;
}

/* 하위메뉴 li요소에 오버시 */
.gnb ul > li .smenu li:hover {
  background-color: rgb(234, 234, 234);
}

/* 하위메뉴 a요소에 오버시 */
.gnb ul > li .smenu li a:hover {
  opacity: 1;
  font-weight: bold;
}
