/* 웹폰트 구글 CDN(Content Delivery Network) */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Bagel+Fat+One&family=Diphylleia&family=Orbit&display=swap');

/* 폰트적용 */
* {
  font-family: 'Noto Sans KR', sans-serif;
}

/* 공사중표시 */
body * {
  /* outline: 2px dotted red; */
}

html {
  scroll-behavior: smooth;
}

/* Reset css */
html,
body,
h1,
h2,
ul,
ol {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}
button {
  cursor: pointer;
}

/* 상단영역 */
.banner {
  display: flex;
  justify-content: flex-end;
  flex: 6;
  border-bottom: 1px solid red;
  line-height: 40px;
}

.lnb a {
  margin-right: 20px;
}

.container {
  width: 1260px;
  margin: 0 auto;
}

.logo img {
  height: 56px;
}
nav {
  display: flex;
  margin-top: 20px;
  align-items: center;
}

.logo {
  flex: 2;
}

.search {
  display: flex;
  align-items: center;
  flex: 4;
  height: 50px;
  /* margin-left: 145px; */
}
.search input {
  width: 250px;
  height: 25px;
  border-radius: 8px;
}

.auth button {
  height: 30px;
  font-size: 17px;
}

/* 메인영역 */

/* 하단영역 */
