/* Google Web Fonts CDN */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700,900&display=swap');

/* Default CSS */
body {
  font-family: 'Noto Sans KR', sans-serif;
}
a {
  text-decoration: none;
}

.container {
  display: flex;
}
.box {
  border: 5px solid red;
  display: flex;
  flex: 1;
}
.box div {
  height: 200px;
  flex: 1;
}
.box div:nth-child(1) {
  background-color: yellow;
}
.box div:nth-child(2) {
  background-color: yellowgreen;
}